@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.input{
    display:flex;
    flex-direction: column;
    gap: .5rem;
    width:100%;
    // @include tablet{
    //     width: fit-content;
    // }
    &__label{
        @include type-body(400);
        color: $primary-black;
    }
    &__field{
    border-radius: 500px;
    border: 2px solid $primary-black;
    padding: .5rem 1rem;
    @include type-small(400);
    color: $secondary-grey;
    transition:ease-in-out .25s;
    &:hover{
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
        background-color: $primary-light;
    }
    &:focus{
        outline: none;
        border: 2px solid $secondary-blue;
    }
    }
}