@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form-section {
  width: 100%;
  &__label {
    @include type-body(400);
    color: $primary-black;
    margin-bottom: 0.75rem;
    display: block;
  }
}

.long-text {
  &__input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid $primary-black;
    border-radius: 0.75rem;
    background-color: $primary-white;
    color: $secondary-grey;
    transition: ease-in-out 0.25s;
    @include type-small(400);
    box-sizing: border-box;
    resize: vertical;
    &:hover {
      box-shadow: 0.125rem 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
      background-color: $secondary-purple;
    }
    &:focus {
      outline: none;
      border-color: $secondary-blue;
      background-color: $primary-light;
    }
    &::placeholder {
      color: $secondary-grey;
    }
  }
}
