@use "./variables" as *;
@use "./fonts" as *;
//MEDIA QUERIES
@mixin desktop {
  @media (min-width: $desktop-break) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet-break) {
    @content;
  }
}
//TYPOGRAPHY
@mixin type-H1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0;
    @include tablet {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }
  @mixin type-H2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0;
    @include tablet {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  @mixin type-H3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0;
    @include tablet {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  @mixin type-button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.125rem;
    margin: 0;
    @include tablet {
      font-size: 1.5rem;
      line-height: 1.75rem;
    }
  }
  //have body regular, light and bold
  @mixin type-body($weight) {
    font-family: "Lato", sans-serif;
    font-weight: ($weight);
    font-style: normal;
    font-size: .9375rem;
    line-height: 1.125rem;
    @include tablet {
      font-size: 1.125rem;
      line-height: 1.25rem;
    }
  }
  @mixin type-small($weight) {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: ($weight);
    font-size: 0.875rem;
    line-height: 1rem;
    margin: 0;
    @include tablet {
      font-size: 1rem;
      line-height: 1.125rem;
    }
  }
  @mixin padding-default {
    padding:$mobile-padding;
    @include tablet {
      padding: $tablet-padding;
    }
    @include desktop{
        padding: $desktop-padding;
    }
  }
  @mixin padding-sides {
    padding:0 $mobile-padding;
    @include tablet {
      padding: 0 $tablet-padding;
    }
    @include desktop{
        padding: 0 $desktop-padding;
    }
  }
