//COLORS
$primary-black: #242424;
$primary-light: #fafafa;
$primary-white: #ffffff;
$secondary-green: #ecfbed;
$secondary-blue: #e1f4f9;
$secondary-purple: #eef3fe;
$secondary-grey: #65626e;
//BREAKPOINTS
$tablet-break: 768px;
$desktop-break: 1280px;
//PADDING
$mobile-padding: 1rem;
$tablet-padding: 1.5rem;
$desktop-padding: 5rem;
