//COLORS
$primary-black: #242424;
$primary-light: #FAFAFA;
$primary-white: #FFFFFF;
$secondary-green: #ECFBED;
$secondary-blue: #E1F4F9;
$secondary-purple: #EEF3FE;
$secondary-grey: #65626E;
//BREAKPOINTS
$tablet-break: 768px;
$desktop-break: 1280px;
//PADDING
$mobile-padding: 1rem;
$tablet-padding: 1.5rem;
$desktop-padding: 5rem;