@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.multi-choice {
  width: 100%;
  &__label {
    border-radius: 500px;
    border: 2px solid $primary-black;
    padding: 0.5rem 1rem;
    @include type-small(400);
    color: $secondary-grey;
    transition: ease-in-out 0.25s;
    width: 100%;
    margin-bottom: 1.5rem;
    &:hover {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
      background-color: $primary-light;
    }
    &:focus {
      outline: none;
      border: 2px solid $secondary-blue;
    }
  }
  &__option {
    border-radius: 500px;
    border: 2px solid $secondary-grey;
    padding: 0.5rem 1rem;
    @include type-small(400);
    color: $secondary-grey;
    transition: ease-in-out 0.25s;
    width: 100%;
    margin-bottom: 0.5rem;
    &:hover {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
      background-color: $primary-light;
    }
    &:focus {
      outline: none;
      border: 2px solid $secondary-blue;
    }
  }
  &__btns {
    position: absolute;
    bottom: 1rem;
    display: flex;
    gap: 1rem;
    @include tablet {
      bottom: 2.5rem;
    }
  }
  &__inputs {
    width: 100%;
  }
}
