@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.landing{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__img{
        height: 4rem;
    }
    &__hero{
        @include padding-default;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__head{
        text-align: center;
        @include type-H2;
        padding-bottom: $mobile-padding;
    }
    &__subhead{
        text-align: center;
        @include type-H3;
        padding-bottom: .5*$mobile-padding;
    }
    &__text{
        text-align: center;
        @include type-body(300);
        color: $secondary-grey;
        padding-bottom: 1.5*$mobile-padding;
    }

}