@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/fonts" as *;
//GLOBAL STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}