@use "../../styles/partials/fonts";
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    @include type-H2;
    margin-bottom: 2rem;
    width: 100%;
  }
  &__error {
    padding: 1rem;
    @include type-button;
    background-color: $primary-light;
    border-radius: 100px;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    max-width: 25rem;
  }
  &__no-forms {
    background-color: $primary-light;
    padding: 2rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 25rem;
    margin-top: 2rem;
    @include tablet {
      padding: 6rem;
    }
    &--header {
      @include type-button;
      text-align: center;
    }
    &--text {
      @include type-body(300);
      text-align: center;
    }
  }
  &__body {
    width: 100%;
    background-color: $primary-light;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  &__row {
    @include tablet {
      flex: 1 1 calc(33.33% - 1rem);
    }
  }
  &__title {
    @include type-H3;
    color: $primary-black;
    margin-bottom: 1rem;
  }
  &__data {
    display: flex;
    flex-direction: column;
    &--top {
      margin-bottom: 2rem;
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    &--mid {
      margin-bottom: 4rem;
      align-items: flex-start;
      gap: 1rem;
      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    &--bot {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
